.principalC {
    width: 100vw;
   
    
    background: 
    url("../img/header_fundo.svg") no-repeat;
    background-size: 22.5rem;
    background-color: #FFFFFF; 
}

@media screen and (min-width: 768px) {
    .principalC {
    background: url("../img/header_fundo.svg") 0 -10% no-repeat;
       background-size: 40rem;
    }
}