.principal {
    width: 100vw;
    height: calc(100vh - 80px);
    
    background: 
    url("../img/header_fundo.svg") no-repeat , 
    url("../img/inicial_lateralfundo.svg") 100% 50% no-repeat, 
    url("../img/petLogo_fundo.svg") 33.66% 108% no-repeat;
    background-color: var(--azul); 
}

.principal__logo {
    align-self: center;

    padding-bottom: .5rem;

    width: 70%;
}

.principal__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    padding: 1.8rem 4rem 0 4rem;
}

.principal__conteudo a:first-of-type {
    margin-bottom: 1rem;
}

.principal__titulo {
    font-family: var(--ibm);
    font-size: 26px;
    font-weight: 500;

    margin: 1rem;

    color: #FFFFFF;
}

.principal__descricao {
    color: #FFFFFF;

    line-height: 26px;

    margin-bottom: 1.5rem;
}
